table{
    width:100%;
   height: 100% }

   #table2{
       margin-top: 1%;
   }
   #subBorder1{
       border-style: groove;
       width:100%;
       height: 100%;

   }
   #border1{

       
       width: 494px;
       height: 50px;
       padding-bottom: 2%;
   }
   #border{

       
       width: 500px;
       height: 470px;
   }
   #border2{
       border-style: groove;
       width: 230px;
       height: 330px;
       border-color: #f2f2f2;
       border-radius: 10px; 
 }
 #border3{
       
       width: 230px;
       height: 330px;
 }
 #border5{
     
       width: 490px;
       height: 50px;
       color: gray;
        border-color: white;
 }

     #statistics{
         border-radius: 10px; 
       border-style: groove;
       width: 225px;
       height: 150px;
       border-color: #f2f2f2;

 }
 #divbutton{
     
       width: 225px;
       height: 100px;
       padding-bottom: 1%;
       padding-top: 2%;
 }
   h3{
       color: #ffcc00;
       padding-left: 3%;
       font-size: 160%;
   }
   #h2{ 
   color: #4dff4d;
   font-size: 150%;
   text-align: left; 
   margin-left: 2%;}
   #statis{
       color: #4dff4d;
   font-size: 200%;
   text-align: center;
   }

   #p{
       text-align: center;
       font-size: 120%;

   }
   #subtitle{color: gray;}
   #Ejjaz{
       font-size: 160%;
       text-align: left;
   }

   #symbutton{
       padding-top: 2%;
       padding-bottom: 2%;
       margin-left: 10%;
       width: 70%;
       height: 37%;
       border-radius: 20px; 
 background: #ffcc00;
border: none;
 font-size: 15px;
 color: black;
 cursor: pointer;
}